:host {
  --header-theme--white: #ffffff;
  --header-theme--blue: #0071bc;
  --header-theme--dark: #1e1e1e;
  --header-nav-theme--blue: #205493;
  --nav-theme--dark: #25282a;

  --header-text-size--default: 14pt;
  --header-font-family--default: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;

  --header-size--slim: 72px;
  --header-size--normal: 90px;

  --header-bottom-nav-height: 50px;
}

.header-component {
  display: flex;
  font-size: var(--header-text-size--default);
  font-family: var(--header-font-family--default);
}

/*Header Size*/
.header-component--slim {
  height: var(--header-size--slim);
}

.header-component--normal {
  height: var(--header-size--normal);
}

/*Header component Themes*/
.header-component--blue {
  background-color: var(--header-theme--blue);
}

.header-component--white {
  background-color: var(--header-theme--white);
}

.header-component--dark {
  background-color: var(--header-theme--dark);
}

.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  align-self: center;
}

.header-logo--stretched {
  align-self: stretch;
}

/*Header Logo Themes*/
.header-logo--blue {
  background-color: var(--header-theme--blue);
}

.header-logo--white {
  background-color: var(--header-theme--white);
}

.header-logo--dark {
  background-color: var(--header-theme--dark);
}

.header-logo--dash {
  border-right-style: solid;
  border-right-color: #fff;
  border-right-width: 1px;
}

.header-logo--dash-blue {
  border-right-color: #0071bc;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 1rem 0 0;
}

.content-left {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 0 0 1rem;
}

.inspect {
  font-size: 1.125rem;
  font-weight: 500;
}

.inspect--blue {
  color: var(--header-theme--blue);
}

.inspect--white {
  color: #fff;
}

.content-right {
  display: flex;
  align-items: center;
}

.account-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  font-size: var(--header-text-size--default);
  font-weight: 500;
}

.account-container--white {
  color: white;
}

.account-container--blue {
  color: var(--header-theme--blue);
}

.account-container--dark {
  color: var(--header-theme--dark);
}

.search-bar-container {
  position: relative;
  width: 90%;
}

.search-bar {
  width: 100%;
  padding: 0.8rem 0 0.8rem 2rem;
  font-size: var(--header-text-size--default);
}

.search-bar:focus {
  outline: none;
}

.search-bar--blue {
  background-color: var(--header-theme--blue);
  border: 1px solid var(----header-theme--blue);
}

.search-bar--white {
  background-color: var(--header-theme--white);
  border: 1px solid var(----header-theme--white);
}

.search-bar--dark {
  background-color: var(--header-theme--dark);
  border: 1px solid var(----header-theme--dark);
}

.search-bar-text--blue,
.search-bar-text--blue::placeholder {
  color: var(--header-theme--blue);
}

.search-bar-text--white,
.search-bar-text--white::placeholder {
  color: var(--header-theme--white);
}

.search-bar-text--dark,
.search-bar-text--dark::placeholder {
  color: var(--header-theme--dark);
}

.search-icon {
  position: absolute;
  top: 0.8em;
  left: 0.1rem;
}

.search-icon--blue {
  fill: var(--header-theme--blue);
}

.search-icon--white {
  fill: var(--header-theme--white);
}

.search-icon--dark {
  fill: var(--header-theme--dark);
}

.top-nav-container {
  display: flex;
}

.nav-container--blue {
  background-color: var(--header-nav-theme--blue);
}

.nav-container--white {
  background-color: var(--header-theme--white);
}

.nav-container--dark {
  background-color: var(--nav-theme--dark);
}
