*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

button {
  font-family: "Open Sans", sans-serif !important;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}


button {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

button,
[role="button"] {
  cursor: pointer;
}

.inline-flex {
  display: inline-flex;
}

.items-center {
  align-items: center;
}

.h-4 {
  height: 1rem;
}

.gap-x-2 {
  column-gap: 0.5rem;
}

.gap-x-2\.5 {
  column-gap: 0.625rem;
}

.rounded {
  border-radius: 0.25rem;
}

.border-2 {
  border-width: 2px;
}

.border-\[\#0071BC\] {
  --tw-border-opacity: 1;
  border-color: rgb(0 113 188 / var(--tw-border-opacity));
}

.border-\[\#02BFE7\] {
  --tw-border-opacity: 1;
  border-color: rgb(2 191 231 / var(--tw-border-opacity));
}

.border-\[\#2E8540\] {
  --tw-border-opacity: 1;
  border-color: rgb(46 133 64 / var(--tw-border-opacity));
}

.border-\[\#E51C3E\] {
  --tw-border-opacity: 1;
  border-color: rgb(229 28 62 / var(--tw-border-opacity));
}

.border-\[\#FDB81E\] {
  --tw-border-opacity: 1;
  border-color: rgb(253 184 30 / var(--tw-border-opacity));
}

.bg-\[\#0071BC\] {
  --tw-bg-opacity: 1;
  background-color: rgb(0 113 188 / var(--tw-bg-opacity));
}

.bg-\[\#02BFE7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(2 191 231 / var(--tw-bg-opacity));
}

.bg-\[\#2E8540\] {
  --tw-bg-opacity: 1;
  background-color: rgb(46 133 64 / var(--tw-bg-opacity));
}

.bg-\[\#E51C3E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(229 28 62 / var(--tw-bg-opacity));
}

.bg-\[\#FDB81E\] {
  --tw-bg-opacity: 1;
  background-color: rgb(253 184 30 / var(--tw-bg-opacity));
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-\[14px\] {
  padding-left: 14px;
  padding-right: 14px;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.font-bold {
  font-weight: 700;
}

.text-\[\#0071BC\] {
  --tw-text-opacity: 1;
  color: rgb(0 113 188 / var(--tw-text-opacity));
}

.text-\[\#046B99\] {
  --tw-text-opacity: 1;
  color: rgb(4 107 153 / var(--tw-text-opacity));
}

.text-\[\#171717\] {
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity));
}

.text-\[\#2E8540\] {
  --tw-text-opacity: 1;
  color: rgb(46 133 64 / var(--tw-text-opacity));
}

.text-\[\#E51C3E\] {
  --tw-text-opacity: 1;
  color: rgb(229 28 62 / var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.hover\:border-\[\#00A6D2\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 166 210 / var(--tw-border-opacity));
}

.hover\:border-\[\#205493\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(32 84 147 / var(--tw-border-opacity));
}

.hover\:border-\[\#2E8540\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(46 133 64 / var(--tw-border-opacity));
}

.hover\:border-\[\#B31E22\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(179 30 34 / var(--tw-border-opacity));
}

.hover\:border-\[\#C05600\]:hover {
  --tw-border-opacity: 1;
  border-color: rgb(192 86 0 / var(--tw-border-opacity));
}

.hover\:bg-\[\#00A6D2\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(0 166 210 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#205493\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(32 84 147 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#266E35\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(38 110 53 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#B31E22\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(179 30 34 / var(--tw-bg-opacity));
}

.hover\:bg-\[\#C05600\]:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(192 86 0 / var(--tw-bg-opacity));
}

.hover\:text-\[\#205493\]:hover {
  --tw-text-opacity: 1;
  color: rgb(32 84 147 / var(--tw-text-opacity));
}

.hover\:text-\[\#2E8540\]:hover {
  --tw-text-opacity: 1;
  color: rgb(46 133 64 / var(--tw-text-opacity));
}

.hover\:text-\[\#B31E22\]:hover {
  --tw-text-opacity: 1;
  color: rgb(179 30 34 / var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.focus\:border-\[\#0071BC\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(0 113 188 / var(--tw-border-opacity));
}

.focus\:border-\[\#02BFE7\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(2 191 231 / var(--tw-border-opacity));
}

.focus\:border-\[\#2E8540\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(46 133 64 / var(--tw-border-opacity));
}

.focus\:border-\[\#E51C3E\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(229 28 62 / var(--tw-border-opacity));
}

.focus\:border-\[\#FDB81E\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(253 184 30 / var(--tw-border-opacity));
}

.focus\:bg-\[\#02BFE7\]:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(2 191 231 / var(--tw-bg-opacity));
}

.focus\:bg-\[\#2E8540\]:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(46 133 64 / var(--tw-bg-opacity));
}

.focus\:bg-\[\#3D94D0\]:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(61 148 208 / var(--tw-bg-opacity));
}

.focus\:bg-\[\#E51C3E\]:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(229 28 62 / var(--tw-bg-opacity));
}

.focus\:bg-\[\#FDB81E\]:focus {
  --tw-bg-opacity: 1;
  background-color: rgb(253 184 30 / var(--tw-bg-opacity));
}

.focus\:text-\[\#0071BC\]:focus {
  --tw-text-opacity: 1;
  color: rgb(0 113 188 / var(--tw-text-opacity));
}

.focus\:text-\[\#171717\]:focus {
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity));
}

.focus\:text-\[\#2E8540\]:focus {
  --tw-text-opacity: 1;
  color: rgb(46 133 64 / var(--tw-text-opacity));
}

.focus\:text-\[\#E51C3E\]:focus {
  --tw-text-opacity: 1;
  color: rgb(229 28 62 / var(--tw-text-opacity));
}

.focus\:ring:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}

.focus\:ring-\[\#3D94D0\]:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(61 148 208 / var(--tw-ring-opacity));
}

.focus\:ring-offset-4:focus {
  --tw-ring-offset-width: 4px;
}

.focus-visible\:outline-none:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.active\:border-\[\#046B99\]:active {
  --tw-border-opacity: 1;
  border-color: rgb(4 107 153 / var(--tw-border-opacity));
}

.active\:border-\[\#112E51\]:active {
  --tw-border-opacity: 1;
  border-color: rgb(17 46 81 / var(--tw-border-opacity));
}

.active\:border-\[\#174320\]:active {
  --tw-border-opacity: 1;
  border-color: rgb(23 67 32 / var(--tw-border-opacity));
}

.active\:border-\[\#775540\]:active {
  --tw-border-opacity: 1;
  border-color: rgb(119 85 64 / var(--tw-border-opacity));
}

.active\:border-\[\#981B1F\]:active {
  --tw-border-opacity: 1;
  border-color: rgb(152 27 31 / var(--tw-border-opacity));
}

.active\:bg-\[\#046B99\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(4 107 153 / var(--tw-bg-opacity));
}

.active\:bg-\[\#112E51\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(17 46 81 / var(--tw-bg-opacity));
}

.active\:bg-\[\#174320\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(23 67 32 / var(--tw-bg-opacity));
}

.active\:bg-\[\#775540\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(119 85 64 / var(--tw-bg-opacity));
}

.active\:bg-\[\#B31E22\]:active {
  --tw-bg-opacity: 1;
  background-color: rgb(179 30 34 / var(--tw-bg-opacity));
}

.active\:text-\[\#112E51\]:active {
  --tw-text-opacity: 1;
  color: rgb(17 46 81 / var(--tw-text-opacity));
}

.active\:text-\[\#174320\]:active {
  --tw-text-opacity: 1;
  color: rgb(23 67 32 / var(--tw-text-opacity));
}

.active\:text-\[\#981B1F\]:active {
  --tw-text-opacity: 1;
  color: rgb(152 27 31 / var(--tw-text-opacity));
}

.active\:text-white:active {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.disabled\:border-\[\#E3E3E3\]:disabled {
  --tw-border-opacity: 1;
  border-color: rgb(227 227 227 / var(--tw-border-opacity));
}

.disabled\:bg-\[\#E3E3E3\]:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(227 227 227 / var(--tw-bg-opacity));
}

.disabled\:text-\[\#4F4F4F\]:disabled {
  --tw-text-opacity: 1;
  color: rgb(79 79 79 / var(--tw-text-opacity));
}
