*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

select {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

select {
  text-transform: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

:disabled {
  cursor: default;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --shadow: 0 0 #0000;
}

select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --ring-inset: var(--empty, /*!*/ /*!*/);
  --ring-offset-width: 0px;
  --ring-offset-color: #fff;
  --ring-color: #2563eb;
  --ring-offset-shadow: var(--ring-inset) 0 0 0 var(--ring-offset-width)
    var(--ring-offset-color);
  --ring-shadow: var(--ring-inset) 0 0 0 calc(1px + var(--ring-offset-width))
    var(--ring-color);
  box-shadow: var(--ring-offset-shadow), var(--ring-shadow), var(--shadow);
  border-color: #2563eb;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20' stroke-width='1.5' stroke='%236B7280'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9' /%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  print-color-adjust: exact;
}

.rounded {
  border-radius: 0.25rem;
}

.mb-1\.5 {
  margin-bottom: 0.375rem;
}

.block {
  display: block;
}

.border-green-600 {
  --border-opacity: 1;
  border-color: rgb(46 133 64 / var(--border-opacity));
}

.border-red-600 {
  --border-opacity: 1;
  border-color: rgb(229 28 62 / var(--border-opacity));
}

.focus\:border-blue-500:focus {
  --border-opacity: 1;
  border-color: rgb(59 130 246 / var(--border-opacity));
}

.focus\:border-green-600:focus {
  --border-opacity: 1;
  border-color: rgb(46 133 64 / var(--border-opacity));
}

.focus\:border-red-600:focus {
  --border-opacity: 1;
  border-color: rgb(229 28 62 / var(--border-opacity));
}

.focus\:ring-blue-500:focus {
  --ring-opacity: 1;
  --ring-color: rgb(59 130 246 / var(--ring-opacity));
}

.focus\:ring-green-600:focus {
  --ring-opacity: 1;
  --ring-color: rgb(46 133 64 / var(--ring-opacity));
}

.focus\:ring-red-600:focus {
  --ring-opacity: 1;
  --ring-color: rgb(229 28 62 / var(--ring-opacity));
}

.disabled\:border-gray-500:disabled {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity));
}
