*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

select {
  font-family: "Open Sans", sans-serif !important;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
}

select {
  text-transform: none;
}

:-moz-focusring {
  outline: auto;
}

:-moz-ui-invalid {
  box-shadow: none;
}

:disabled {
  cursor: default;
}

select {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --shadow: 0 0 #0000;
}

select:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--shadow);
  border-color: #2563eb;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20' stroke-width='1.5' stroke='%236B7280'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9' /%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  print-color-adjust: exact;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-start {
  align-items: flex-start;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.rounded {
  border-radius: 0.25rem;
}

.border-\[\#212121\] {
  --tw-border-opacity: 1;
  border-color: rgb(33 33 33 / var(--tw-border-opacity));
}

.border-\[\#2E8540\] {
  --tw-border-opacity: 1;
  border-color: rgb(46 133 64 / var(--tw-border-opacity));
}

.border-\[\#E51C3E\] {
  --tw-border-opacity: 1;
  border-color: rgb(229 28 62 / var(--tw-border-opacity));
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.w-full {
  width: 100%;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.font-bold {
  font-weight: 700;
}

.text-\[\#212121\] {
  --tw-text-opacity: 1;
  color: rgb(33 33 33 / var(--tw-text-opacity));
}

.after\:ml-1::after {
  content: var(--tw-content);
  margin-left: 0.25rem;
}

.after\:ml-1\.5::after {
  content: var(--tw-content);
  margin-left: 0.375rem;
}

.after\:text-\[\#E51C3E\]::after {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(229 28 62 / var(--tw-text-opacity));
}

.after\:content-\[\'\*\'\]::after {
  --tw-content: "*";
  content: var(--tw-content);
}

.focus\:border-\[\#2E8540\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(46 133 64 / var(--tw-border-opacity));
}

.focus\:border-\[\#3D94D0\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(61 148 208 / var(--tw-border-opacity));
}

.focus\:border-\[\#E51C3E\]:focus {
  --tw-border-opacity: 1;
  border-color: rgb(229 28 62 / var(--tw-border-opacity));
}

.focus\:ring-\[\#2E8540\]:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(46 133 64 / var(--tw-ring-opacity));
}

.focus\:ring-\[\#3D94D0\]:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(61 148 208 / var(--tw-ring-opacity));
}

.focus\:ring-\[\#E51C3E\]:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(229 28 62 / var(--tw-ring-opacity));
}
