:host {
  --text-blue-500: #0071bc;
  --bg-blue-700: #205493;
  --bg-blue-900: #112e51;
  --bg-gray-600: #5b616a;
  --bg-gray-800: #323a45;
}

.fill-current {
  fill: currentColor;
}

.text-white {
  color: #fff;
}

.text-blue-500 {
  color: var(--text-blue-500);
}

.bg-blue-700 {
  background: var(--bg-blue-700);
}

.bg-blue-900 {
  background: var(--bg-blue-900);
}

.bg-gray-600 {
  background: var(--bg-gray-600);
}

.bg-gray-800 {
  background: var(--bg-gray-800);
}

.bg-black {
  background: #1b1b1b;
}

/* resets */

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

svg {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/* styles */

.font-sans {
  font-family: "Open Sans", sans-serif !important;

  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}

.flex {
  display: flex;
}

.max-w-sm {
  max-width: 24rem;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.gap-x-6 {
  column-gap: 1.5rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.border-b {
  border-bottom-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.border-gray-300 {
  --border-opacity: 1;
  border-color: rgb(209 213 219 / var(--border-opacity));
}

.border-r-gray-300 {
  --border-opacity: 1;
  border-right-color: rgb(209 213 219 / var(--border-opacity));
}

.border-t-gray-200 {
  --border-opacity: 1;
  border-top-color: rgb(229 231 235 / var(--border-opacity));
}

.bg-gray-100 {
  --bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--bg-opacity));
}

.p-4 {
  padding: 1rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pt-8 {
  padding-top: 2rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.font-medium {
  font-weight: 500;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-3 {
  gap: 0.75rem;
}

@media (min-width: 1024px) {
  .lg\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .lg\:items-center {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .lg\:justify-start {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .md\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .md\:justify-start {
    justify-content: flex-start;
  }
}
