:root {
  --error-color: #dc3545;
  --success-color: #28a745;
  --base-color: rgb(50, 50, 51);
  --inverse-color: lightgrey;
}

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

.storybook-button--success {
  color: #ffffff;
  background-color: var(--success-color);
  border: var(--success-color);
}

.storybook-button--error {
  color: #ffffff;
  background-color: var(--error-color);
  border: var(--error-color);
}

.storybook-button--base {
  color: #ffffff;
  background-color: var(--base-color);
  border: var(--base-color);
}

.storybook-button--inverse {
  color: #000000;
  background-color: var(--inverse-color);
  border: var(--inverse-color);
}

.storybook-button--link {
  color: #ffffff;
  text-decoration: underline;
  background-color: #000000;
  border: #000000;
}

.storybook-button--outline {
  color: blue;
  background-color: transparent;
  border: 1px solid blue;
}

.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
.storybook-button--extralarge {
  font-size: 16px;
  padding: 20px 32px;
}
