*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin: 0;
}

.mt-2 {
  margin-top: 0.5rem;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.h-4 {
  height: 1rem;
}

.w-10 {
  width: 2.5rem;
}

.w-6 {
  width: 1.5rem;
}

.w-4 {
  width: 1rem;
}

.cursor-pointer {
  cursor: pointer;
}

.items-center {
  align-items: center;
}

.gap-x-1 {
  column-gap: 0.25rem;
}

.gap-x-2 {
  column-gap: 0.5rem;
}

.gap-x-2\.5 {
  column-gap: 0.625rem;
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.object-contain {
  object-fit: contain;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(0 113 188 / var(--tw-text-opacity));
}

.underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.hover\:text-blue-700:hover {
  --tw-text-opacity: 1;
  color: rgb(32 84 147 / var(--tw-text-opacity));
}
