*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p {
  margin: 0;
}

.mt-2 {
  margin-top: 0.5rem;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-10 {
  height: 2.5rem;
}

.w-10 {
  width: 2.5rem;
}

.w-4 {
  width: 1rem;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-x-2 {
  column-gap: 0.5rem;
}

.gap-x-2\.5 {
  column-gap: 0.625rem;
}

.bg-\[\#F0F0F0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 240 240 / var(--tw-bg-opacity));
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-\[\#0071BC\] {
  --tw-text-opacity: 1;
  color: rgb(0 113 188 / var(--tw-text-opacity));
}

.bg-\[\#1B1B1B\] {
  --tw-bg-opacity: 1;
  background-color: rgb(27 27 27 / var(--tw-bg-opacity));
}

.text-\[\#73B3E7\] {
  --tw-text-opacity: 1;
  color: rgb(115 179 231 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.object-contain {
  object-fit: contain;
}

.cursor-pointer {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .lg\:flex-row {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
