:host {
  --background-color: #f0f0f0;
  --font-color: #1b1b1b;
  --action-default-color: #005ea2;
  --action-hover-color: #1a4480;
  --action-focus-outline-color: #2491ff;

  --font-size-mobile: 0.87rem;
  --font-size-desktop: 1rem;
  --font-family: Source Sans Pro Web, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}

.banner-container {
  width: 100%;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--font-color);
  font-size: var(--font-size-mobile);
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.5;
  min-height: 3rem;
}

.banner-header {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  max-width: 64rem;
  padding-inline: 2rem;
}

.banner-header > img {
  width: 1.4rem;
}

.banner-texts {
  display: flex;
}

.banner-texts > button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: var(--font-size-mobile);
  border: 0;
  color: var(--action-default-color);
  text-decoration: underline;
}

.banner-texts > button:hover {
  color: var(--action-hover-color);
  cursor: pointer;
}

.banner-texts > button:focus {
  outline: 0.25rem solid var(--action-focus-outline-color);
}

.banner-texts > button span > svg {
  width: 1.4rem;
  height: 1.4rem;
  fill: var(--action-default-color);
}

.banner-texts > button:hover span > svg {
  fill: var(--action-hover-color);
}

.banner-content {
  display: none;
}

.banner-content__show {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.left-content {
  display: flex;
  gap: 1rem;
  max-width: 40rem;
}

.left-content > svg {
  flex-shrink: 0;
  margin-right: 0.5rem;
  width: 2.5rem;
}

.right-content {
  display: flex;
  gap: 1rem;
  max-width: 40rem;
}

.right-content > svg {
  flex-shrink: 0;
  margin-right: 0.5rem;
  width: 2.5rem;
}

.lock-icon > svg {
  width: 0.8rem;
  height: 0.8rem;
}

@media screen and (min-width: 768px) {
  .banner-container {
    font-size: var(--font-size-desktop);
  }

  .banner-texts > button {
    font-size: var(--font-size-desktop);
  }
}
